---
search: false
---

@charset "utf-8";

/* 1) 皮肤（air 等） */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}";

/* 2) 主题主样式 */
@import "minimal-mistakes";

/* 3) 你的自定义覆盖（头像放大、footer颜色、字体等都在这里） */
@import "custom";
