---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom";
---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes";

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.page__inner-wrap,
.initial-content {
  padding-top: 70px; /* 视你导航栏高度可调 60~90 */
}
